.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    text-align: center;

    p {
        padding: 0;
        margin: .2rem 0 0;
    }
}

.flex-item {
    flex-grow: 1;
    flex-basis: 150px;
    margin: .5rem 1rem;

    img {
        max-width: 150px;
        max-height: 150px;
    }

    .imagelink {
        &:hover {
            border: 0;
        }
    }

    @media only screen and (max-width: 580px) {
        & {
            margin: .5rem 0.4rem;
        }
    }
}

.singlechar {

    h1 {
        margin: 0 0 1rem;
        text-align: center;
    }
}

.singlechar-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;

    img {
        max-width: 100%;
        height: auto;
    }

    p {
        padding: 0 1.5rem;

        @media only screen and (max-width: 740px) {
            & {
                padding: 0;
            }
        }
    }
}

.breadcrumbs {
    margin-bottom: 1rem;
}
