$line-c: #fff;
$line-w: .125em;

$track-u: 1em;
$track-w: 16*$track-u;
$track-h: .375em;
$track-s: 100%;
$track-l: 45%;

$ruler-fs: .875;
$ruler-c: #2c2c2b;

$thumb-bg: #a7a6a2;

@mixin track() {
  width: $track-w; height: $track-h;
}

.myslider {
    max-width: $container-width;
    margin: 1.25rem auto 0 auto;
    
    input[type=range] {
        &, 
        &::-webkit-slider-runnable-track, 
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
        }
        cursor: pointer;
        
        &::-webkit-slider-runnable-track {
            position: relative;
            @include track();
            background: #222;
        }
        
        &::-webkit-slider-thumb {
            height: 20px;
            background-image: url('./touhou-test/elements/img/arrow.png');
            background-size: 25px 25px;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        &:focus {
            outline: none;
        }
        
        &.width-1 {
            width: 5%;
            
            &::-webkit-slider-thumb {
                width: 100%;
            }
        }
        
        &.width-2 {
            width: 10%;
            
            &::-webkit-slider-thumb {
                width: 50%;
            }
        }
        
        &.width-3 {
            width: 15%;
            
            &::-webkit-slider-thumb {
                width: 33.33%;
            }
        }
        
        &.width-4 {
            width: 20%;
            
            &::-webkit-slider-thumb {
                width: 25%;
            }
        }
        
        &.width-5 {
            width: 25%;
            
            &::-webkit-slider-thumb {
                width: 20%;
            }
        }
        
        &.width-6 {
            width: 30%;
            
            &::-webkit-slider-thumb {
                width: 16.67%;
            }
        }
        
        &.width-7 {
            width: 35%;
            
            &::-webkit-slider-thumb {
                width: 14.285%;
            }
        }
        
        &.width-8 {
            width: 40%;
            
            &::-webkit-slider-thumb {
                width: 12.5%;
            }
        }
        
        &.width-9 {
            width: 45%;
            
            &::-webkit-slider-thumb {
                width: 11.11%;
            }
        }
        
        &.width-10 {
            width: 50%;
            
            &::-webkit-slider-thumb {
                width: 10%;
            }
        }
        
        &.width-11 {
            width: 55%;
            
            &::-webkit-slider-thumb {
                width: 9.09%;
            }
        }
        
        &.width-12 {
            width: 60%;
            
            &::-webkit-slider-thumb {
                width: 8.33%;
            }
        }
        
        &.width-13 {
            width: 65%;
            
            &::-webkit-slider-thumb {
                width: 7.7%;
            }
        }
        
        &.width-14 {
            width: 70%;
            
            &::-webkit-slider-thumb {
                width: 7.14%;
            }
        }
        
        &.width-15 {
            width: 75%;
            
            &::-webkit-slider-thumb {
                width: 6.66%;
            }
        }
        
        &.width-16 {
            width: 80%;
            
            &::-webkit-slider-thumb {
                width: 6.25%;
            }
        }
        
        &.width-17 {
            width: 85%;
            
            &::-webkit-slider-thumb {
                width: 5.88%;
            }
        }
        
        &.width-18 {
            width: 90%;
            
            &::-webkit-slider-thumb {
                width: 5.55%;
            }
        }
        
        &.width-19 {
            width: 95%;
            
            &::-webkit-slider-thumb {
                width: 5.26%;
            }
        }
        
        &.width-20 {
            width: 100%;
            
            &::-webkit-slider-thumb {
                width: 5%;
            }
        }
    }
}
