@mixin thumb() {
    height: 30px;
    background-image: url('./touhou-test/elements/img/arrow.svg');
    background-size: 20px 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.myslider {
    max-width: $container-width;
    margin: 1.25rem auto 0 auto;
    height: 30px;
    
    .inside {
        width: 100%;
        height: 7px;
        background-color: $gray;
        margin-bottom: 8px;
        border-radius: 3px;
    }
    
    input[type=range] {
        cursor: pointer;
        padding: 0;
        height: 30px;
        margin-top: -0.4rem;
        
        &, 
        &::-webkit-slider-runnable-track,
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            background: transparent;
        }
        
        &::-moz-range-track, 
        &::-moz-range-thumb {
            -moz-appearance: none;
            background: transparent;
            border: none;
        }
        
        &::-ms-track {
            background: transparent;
            border-color: transparent;
            color: transparent;
        }
        
        &::-webkit-slider-thumb {
            @include thumb();
        }
        
        &::-moz-range-thumb {
            @include thumb();
        }
        
        &::-ms-thumb {
            background: transparent;
            border: none;
            @include thumb();
        }
        
        &::-ms-fill-lower {
            background-color: transparent;
        }
        
        &::-ms-fill-upper {
            background-color: transparent;
        }
        
        &:focus {
            outline: none;
        }
        
        &::-moz-focus-outer {
            border: 0;
        }
        
        @for $step from 1 through $maxSteps {

            &.width-#{$step} {
                width: 100 / $maxSteps * $step + %;
        
                &::-webkit-slider-thumb {
                    width: (100/$step) + %;
                }
                
                &::-moz-range-thumb {
                    width: (100/$step) + %;
                }
                
                &::-ms-thumb {
                    width: (100/$step) + vw;
                }
            }
        }
    }
}
